.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader-text {
    font-size: 24px;
    animation: colorChange 2s linear infinite;
}

@keyframes colorChange {
    0% {
        color: red;
    }

    25% {
        color: yellow;
    }

    50% {
        color: green;
    }

    75% {
        color: blue;
    }

    100% {
        color: red;
    }
}